.d2{
    background-color: white;
}
#icart{
    margin-left: 15px;
    margin-right: 20px;
    color: black;
}
#iheart{
    margin-right: 15px;
    color: black;
}
#com{
    margin-right: 20px;
    color: black;
}
#navcol{
    color: black;
}
.mar{
    margin-left: 23px;
}
#i1{
    height: 530px;
    width: 430px;
   
}
#dd{
    margin-left: 50px;
}