<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boots for men</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Men's Shoes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     
    <link rel="stylesheet" href="../css/men.css">
</head>
<body>

    <div class="d2" >
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#"  id="navcol">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="navcol">Women</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="navcol">Men</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="navcol">Kids and Teens</a>
                  </li>
                </ul>
                <i class="fa fa-balance-scale" id="com"></i>
                <i class="fa fa-heart-o" id="iheart1"></i>
                 <i class="fa fa-shopping-cart" id="icart1"></i>
    
                <form class="d-flex" role="search">
                  <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              
            </div>
          </nav>
        </div>
      </div>
    <div class="container" id="cul">
        <div class = "container mt-4">
          <div class = "row" >
            <div class="col-md-12 mt-4 ms-4">
              <h2 align="center">SPORTS SHOES FOR MEN</h2>
            </div>
          </div>
        </div>
    
          <div class="container">
            <div class="row" id="f5">
          <div class="card" id="f6" >
            <a href="#"><img src="/images/Screenshot 2023-07-30 224650.png" class="card-img-top" alt="..." id="f4"></a>
            <div class="card-body">
              <h5 class="card-title">HRX by Hrithik Roshan</h5>
              <p class="card-text">Men White And Blue Memory Foam Technology Running Shoes</p>
              <p><b>₹1007</b></p> 
              <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart"></i>
            </div>
          </div>
          <div class="card" id="f6" >
            <a href="#"><img src="/images/Screenshot 2023-07-30 225027.png" class="card-img-top" alt="..." id="f4"></a>
            <div class="card-body">
              <h5 class="card-title">Nike</h5>
              <p class="card-text">Men Zoom Fly 5 Road Running Shoes</p>
              <p><b>₹2999</b></p>
              <button>Add to Compare</button>   <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
            </div>
          </div>
          <div class="card" id="f6" >
            <a href="#"><img src="/images/Screenshot 2023-07-30 225113.png" class="card-img-top"  alt="..." id="f4"></a>
            <div class="card-body">
              <h5 class="card-title">Red Tape</h5>
              <p class="card-text">Men Comfortable & Slip-Resistant Textile Walking Shoes</p>
              <p><b>₹1099</b></p>
              <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
            </div>
          </div>
          <div class="card" id="f6" >
            <a href="#"><img src="/images/Screenshot 2023-07-30 225155.png" class="card-img-top" alt="..." id="f4"></a>
            <div class="card-body">
              <h5 class="card-title">Red tape</h5>
              <p class="card-text">Men Grey Mesh Walking Shoes</p>
              <p><b>₹3896</b></p>
              <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
            </div>
          </div><br>
          <div class="card" id="f6" >
            <a href="#"><img src="/images/Screenshot 2023-07-30 225414.png" class="card-img-top" alt="..." id="f4"></a>
            <div class="card-body">
              <h5 class="card-title">Vector X</h5>
              <p class="card-text">Unisex DYNAMIC-2.0 Football Shoes</p>
              <p><b>₹2999</b></p>
              <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart" ></i> <i class="fa fa-shopping-cart" id="icart"></i>
            </div>
          </div>
          <div class="card" id="f6" >
            <a href="#"><img src="/images/Screenshot 2023-07-30 225521.png" class="card-img-top" alt="..." id="f4"></a>
            <div class="card-body">
              <h5 class="card-title">Sketchers</h5>
              <p class="card-text">SMMen Black GO WALK ARCH FIT - TERRA Walking Shoes</p>
              <p><b>₹5999</b></p>
              <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
            </div>
          </div>
          <div class="card" id="f6" >
            <a href="#"><img src="/images/Screenshot 2023-07-30 225628.png" class="card-img-top" alt="..." id="f4"></a>
            <div class="card-body">
              <h5 class="card-title">Reebok</h5>
              <p class="card-text"> Men Brand Logo Detail Sprinter Running Shoes</p>
              <p><b>₹2099</b></p>
              <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
            </div>
          </div>
          <div class="card" id="f6" >
            <a href="#"><img src="/images/Screenshot 2023-07-30 225729.png" class="card-img-top" alt="..." id="f4"></a>
            <div class="card-body">
              <h5 class="card-title">Puma</h5>
              <p class="card-text">Men Smooth Walk Running Shoes</p>
              <p><b>₹2044</b></p>
              <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
            </div>
        </div>
    </div>
        </div>
    </div><br><br>
    <hr>
 <div class="container">
  <div class="row" id="row1">
    <div class="col-md-3" id="foot"><b>Website Name</b><br><br>ShoeGalaxy <br>Love that shoes can add a little something special to an outfit, no matter what you're wearing</div>
    <div class="col-md-3 text-center" id="foot"><b>Products</b> <br><br>Sports Shoes <br>Sneakers <br> Formals <br> Boots <br> Mules <br>Casuals <br><br><br><br> </div>
    <div class="col-md-3 text-center" id="foot"><b>Useful Links</b> <br><br> Home <br> Cart <br> Orders <br>WishList<br> Help </div>
    <div class="col-md-3 text-center" id="foot"> <b>Support</b> <br><br> Assotech the Nest,Crossing Republik Ghaziabad <br> ShoeGalaxy@gmail.com</div>
  </div>

 </div>
</body>
</html>