<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KIDS</title>
    <link rel="stylesheet" href="../CSS FILES/kids.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="kids.css">
</head>
<body>
    <div class="d2" >
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/layout/second.html"  id="navcol">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/women1.html" id="navcol">Women</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/mens.html" id="navcol">Men</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/Kids.html" id="navcol">Kids and Teens</a>
                  </li>
                </ul>
                <i class="fa fa-balance-scale" id="com"></i>
                <i class="fa fa-heart-o" id="iheart"></i>
                 <i class="fa fa-shopping-cart" id="icart"></i>
    
                <form class="d-flex" role="search">
                  <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              
            </div>
          </nav>
        </div>
      </div>
      
      <br>
    <div class="container">
        <div class="row">
          <div class="col-md-2"><a href="../layout/KSneakers.html" target="_blank"><figure><img src="../images/Product1.png" alt="" class="image"></figure></a><figcaption id="fig">Sneakers</figcaption></div>
            <div class="col-md-2"><a href="../layout/KSchoolshoes.html" target="_blank"><figure><img src="../Images/Product2.png" alt="" class="image"></figure></a><figcaption>School Shoes</figcaption></div>
            <div class="col-md-2"><a href="../layout/KSportsshoes.html" target="_blank"><figure><img src="../images/Product3.png" alt="" class="image"></figure></a><figcaption id="fig">Sports Shoes</figcaption></div>
            <div class="col-md-2"><a href="../layout/KCasualshoes.html" target="_blank"><figure><img src="../images/Product4.png" alt="" class="image"></figure></a><figcaption id="fig">Casual Shoes</figcaption></div>
            <div class="col-md-2"><a href="../layout/KFancyshoes.html" target="_blank"><figure><img src="../images/Product5.png" alt="" class="image"></figure></a><figcaption id="fig">Fancy Shoes</figcaption></div>
        </div>
    </div>
    <br>
    <br>
    
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../images/corousel1.jpeg" class="d-block w-100" alt="..." id="corou">
          </div>
          <div class="carousel-item">
            <img src="../images/corousel2.png" class="d-block w-100" alt="..." id="corou">
          </div>
          <div class="carousel-item">
            <img src="../images/corousel3.png" class="d-block w-100" alt="..." id="corou">
          </div>
         </div>
         <br>
         <br>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <br>
      <h1><center>EXPLORE TOP BRANDS</center></h1>
      <div class="card" id="card1">
        <a href="../layout/KRedtape.html" target="_blank"><img src="../images/topbrand1.png" class="card-img-top" alt="..." id="topbrands"></a>
        <div class="card-body">
          <h5 class="card-title">Red Tape</h5>
          <p class="card-text">Unisex Kids White Mesh Walking Shoes</p>
          
        </div>
      </div>
      <div class="card" id="card1" >
        <a href="../layout/KFashionfaster.html" target="_blank"><img src="../images/topbrand2.png" class="card-img-top" alt="..."  id="topbrands"></a>
        <div class="card-body">
          <h5 class="card-title">Nike</h5>
          <p class="card-text">Kids Younger Dynamo Go Easy Slip- On Shoes</p>
         
        </div>
      </div>
      <div class="card" id="card1" >
        <a href="../layout/KSkechers.html" target="_blank"><img src="../images/topbrand3.png" class="card-img-top" alt="..."  id="topbrands"></a>
        <div class="card-body">
          <h5 class="card-title">Skechers</h5>
          <p class="card-text">Girls LED Slip-On Sneakers Best Seller</p>
          
         
        </div>
      </div>
      <div class="card" id="card1">
       <a href="../layout/KPuma.html" target="_blank"> <img src="../images/topbrand4.png" class="card-img-top" alt="..."  id="topbrands"></a>
        <div class="card-body">
          <h5 class="card-title">Puma</h5>
          <p class="card-text">Kids Ultra Play Football Shoes Best Sports Shoes</p>
          
        </div>
      </div>
      <br>
      <br>
      <br>

      <h1><center>NEW ARRIVALS</center></h1>
      <div class="card" id="card1">
        <img src="../images/new1.png" class="card-img-top" alt="..." id="topbrands">
        <div class="card-body">
          <h5 class="card-title">Pantaloons Junior</h5>
          <p class="card-text">Girls Striped Comfort Insole Basics Sneakers</p>
          <p>Rs. 999</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o" id="heart"></i><i class="fa fa-cart-plus" id="cart"></i>
          
        </div>
      </div>
      <div class="card" id="card1" >
        <img src="../images/new2.png" class="card-img-top" alt="..."  id="topbrands">
        <div class="card-body">
          <h5 class="card-title">FOOTPRINTS</h5>
          <p class="card-text">Infants Woven Design Anti-Slip Breathable Cotton Sneakers</p>
          <p>Rs. 398</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-cart-plus" id="cart"></i>

         
        </div>
      </div>
      <div class="card" id="card1" >
        <img src="../images/new3.png" class="card-img-top" alt="..."  id="topbrands">
        <div class="card-body">
          <h5 class="card-title">KazarMax</h5>
          <p class="card-text">Girls Pink & Lavender Printed Slip-On Sneakers</p>
          <p>Rs. 859</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-cart-plus" id="cart"></i>
          
         
        </div>
      </div>
      <div class="card" id="card1">
        <img src="../images/new4.png" class="card-img-top" alt="..."  id="topbrands">
        <div class="card-body">
          <h5 class="card-title">Reebok</h5>
          <p class="card-text">Boys Flexagon Energy Training Sports Shoes</p>
          <p>Rs. 1959</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-cart-plus" id="cart"></i>
          
        </div>
      </div>

    <br>
    <br>
    <div class="card" id="card1">
        <img src="../images/new5.png" class="card-img-top" alt="..." id="topbrands">
        <div class="card-body">
          <h5 class="card-title">FEETWELL SHOES</h5>
          <p class="card-text">Unisex Kids Black Printed Best Seller Sneakers</p>
          <p>Rs. 794</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-cart-plus" id="cart"></i>
         
          
        </div>
      </div>
      <div class="card" id="card1" >
        <img src="../images/new6.png" class="card-img-top" alt="..."  id="topbrands">
        <div class="card-body">
          <h5 class="card-title">Liberty</h5>
          <p class="card-text">Unisex Kids Black Solid School Shoes</p>
          <p>Rs. 649</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-cart-plus" id="cart"></i>
         
        </div>
      </div>
      <div class="card" id="card1" >
        <img src="../images/new7.png" class="card-img-top" alt="..."  id="topbrands">
        <div class="card-body">
          <h5 class="card-title">KazarMax</h5>
          <p class="card-text">Girls XXIV Butterfly Embellished Contrast Sole Sneakers</p>
          <p>Rs. 1499</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-cart-plus" id="cart"></i>
          
         
        </div>
      </div>
      <div class="card" id="card1">
        <img src="../images/new8.png" class="card-img-top" alt="..."  id="topbrands">
        <div class="card-body">
          <h5 class="card-title">Nike</h5>
          <p class="card-text">Kids Leather Flex Runner 2 JP Running Shoes</p>
          <p>Rs. 2796</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-cart-plus" id="cart"></i>
          
        </div>
      </div>
      <br>
      <br>
      <div class="banner">
        <img src="../images/banner1.jpg" alt="" id="banner1">
      </div>
      <br><br><br>
      <hr>
       <div class="container">
        <div class="row" id="row1">
          <div class="col-md-3" id="foot"><b>Website Name</b><br><br>ShoeGalaxy <br>Love that shoes can add a little something special to an outfit, no matter what you're wearing</div>
          <div class="col-md-3 text-center" id="foot"><b>Products</b> <br><br>Sports Shoes <br>Sneakers <br> Formals <br> Boots <br> Mules <br>Casuals <br><br><br><br> </div>
          <div class="col-md-3 text-center" id="foot"><b>Useful Links</b> <br><br> Home <br> Cart <br> Orders <br>WishList<br> Help </div>
          <div class="col-md-3 text-center" id="foot"> <b>Support</b> <br><br> Assotech the Nest,Crossing Republik Ghaziabad <br> ShoeGalaxy@gmail.com</div>
        </div>
      
       </div>
    
</body>
</html>