<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPORTS SHOES</title>
    <link rel="stylesheet" href="../CSS Files/Redtape.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="d2" >
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/layout/second.html"  id="navcol">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/women1.html" id="navcol">Women</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/mens.html" id="navcol">Men</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/Kids.html" id="navcol">Kids and Teens</a>
                  </li>
                </ul>
                <i class="fa fa-balance-scale" id="com"></i>
                <i class="fa fa-heart-o" id="iheart"></i>
                 <i class="fa fa-shopping-cart" id="icart"></i>
    
                <form class="d-flex" role="search">
                  <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              
            </div>
          </nav>
        </div>
      </div>
      <br>
      <div>
        <img src="../images/Sportslogo.jpg" alt="" id="Redtape">
      </div>
      <br>
      <br>
      <h1><center>Sports Shoes For Kids</center></h1>
      <br>

      <div class="card" id="card1">
        <img src="../images/Sports11.png" class="card-img-top" alt="..." id="topbrands">
        <div class="card-body">
          <h5 class="card-title">Red Tape</h5>
          <p class="card-text">Girls Slip- Resistance Mesh Non-Marking Walking Shoes</p>
          <p>₹857</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o" id="heart"></i><i class="fa fa-shopping-cart" id="cart"></i>
          
        </div>
      </div>
      <div class="card" id="card1" >
        <img src="../images/Sports21.png" class="card-img-top" alt="..."  id="topbrands">
        <div class="card-body">
          <h5 class="card-title">Puma</h5>
          <p class="card-text">Kids Rift Pop Slip-On Running Shoes</p>
          <p>₹2249</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-shopping-cart" id="cart"></i>

         
        </div>
      </div>
      <div class="card" id="card1" >
        <img src="../images/Sports31.png" class="card-img-top" alt="..."  id="topbrands">
        <div class="card-body">
          <h5 class="card-title">Campus</h5>
          <p class="card-text">Unisex Kids Running Shoes</p><br>
          <p>₹489</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-shopping-cart" id="cart"></i>
          
         
        </div>
      </div>
      <div class="card" id="card1">
        <img src="../images/Sports41.png" class="card-img-top" alt="..."  id="topbrands">
        <div class="card-body">
          <h5 class="card-title">Campus</h5>
          <p class="card-text">Unisex Kids Blue Mesh Running Shoes</p>
          <p>₹524</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-shopping-cart" id="cart"></i>
          
        </div>
      </div>

    <br>
    <br>
    <div class="card" id="card1">
        <img src="../images/Sports51.png" class="card-img-top" alt="..." id="topbrands">
        <div class="card-body">
          <h5 class="card-title">Puma</h5>
          <p class="card-text">Kids Future Play Youth Football Turf Trainers</p><br>
          <p>₹2924</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-shopping-cart" id="cart"></i>
         
          
        </div>
      </div>
      <div class="card" id="card1" >
        <img src="../images/School61.png" class="card-img-top" alt="..."  id="topbrands">
        <div class="card-body">
          <h5 class="card-title">ADIDAS</h5>
          <p class="card-text">Kids Woven Design PaceRanger 1.0 Running Shoes</p><br>
          <p>₹2519</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-shopping-cart" id="cart"></i>
         
        </div>
      </div>
      <div class="card" id="card1" >
        <img src="../images/Sports71.png" class="card-img-top" alt="..."  id="topbrands">
        <div class="card-body">
          <h5 class="card-title">ASIAN</h5>
          <p class="card-text">Boys Running Non-Marking Memory Foam Technology Sports Shoes YODHA-02cSLTBLUE</p>
          <p>₹877</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-shopping-cart" id="cart"></i>
          
         
        </div>
      </div>
      <div class="card" id="card1">
        <img src="../images/Sports81.png" class="card-img-top" alt="..."  id="topbrands">
        <div class="card-body">
          <h5 class="card-title">toothless</h5>
          <p class="card-text">Kids Boys Navy Blue & Grey Marvel Avengers Sports Shoes</p><br>
          <p>₹1259</p>
          <a href="#" class="btn" id="comparebtn">Add to Compare</a><i class="fa fa-heart-o"  id="heart"></i><i class="fa fa-shopping-cart" id="cart"></i>
          
        </div>
      </div>
      <br><br><br>
      <hr>
       <div class="container">
        <div class="row" id="row1">
          <div class="col-md-3" id="foot"><b>Website Name</b><br><br>ShoeGalaxy <br>Love that shoes can add a little something special to an outfit, no matter what you're wearing</div>
          <div class="col-md-3 text-center" id="foot"><b>Products</b> <br><br>Sports Shoes <br>Sneakers <br> Formals <br> Boots <br> Mules <br>Casuals <br><br><br><br> </div>
          <div class="col-md-3 text-center" id="foot"><b>Useful Links</b> <br><br> Home <br> Cart <br> Orders <br>WishList<br> Help </div>
          <div class="col-md-3 text-center" id="foot"> <b>Support</b> <br><br> Assotech the Nest,Crossing Republik Ghaziabad <br> ShoeGalaxy@gmail.com</div>
        </div>
      
       </div>
      
</body>
</html>