<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/puma.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="d2" >
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/layout/second.html"  id="navcol">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/women1.html" id="navcol">Women</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/mens.html" id="navcol">Men</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/layout/Kids.html" id="navcol">Kids and Teens</a>
                  </li>
                </ul>
                <i class="fa fa-balance-scale" id="com"></i>
                <i class="fa fa-heart-o" id="iheart1"></i>
                 <i class="fa fa-shopping-cart" id="icart1"></i>
    
                <form class="d-flex" role="search">
                  <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              
            </div>
          </nav>
       </div>
      </div><br>
      <img src="../images\Screenshot 2023-08-01 120738.png" id="f10"><img src="../images\Screenshot 2023-08-01 120717.png" id="f10"><br><br><br>
      <center><h1>Puma</h1><br><br></center>
      <div class="container">
        <div class="row" id="f5">
      <div class="card" id="f6" >
        <a href="#"><img src="../images/Screenshot 2023-07-31 203026.png" class="card-img-top" alt="..." id="f4"></a>
        <div class="card-body">
          <h5 class="card-title">Puma</h5>
          <p class="card-text">Women Robbin Sneakers</p>
          <p><b>₹4295</b></p> 
          <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart"></i>
        </div>
      </div>
      <div class="card" id="f6" >
        <a href="#"><img src="../images/Screenshot 2023-07-31 203158.png" class="card-img-top" alt="..." id="f4"></a>
        <div class="card-body">
          <h5 class="card-title">Puma</h5>
          <p class="card-text">Women Black Sneakers</p>
          <p><b>₹4290</b></p>
          <button>Add to Compare</button>  <i class="fa fa-heart-o" id="iheart"> </i> <i class="fa fa-shopping-cart" id="icart"></i>
        </div>
      </div>
      <div class="card" id="f6" >
        <a href="#"><img src="../images/Screenshot 2023-07-31 203324.png" class="card-img-top" alt="..." id="f4"></a>
        <div class="card-body">
          <h5 class="card-title">Puma</h5>
          <p class="card-text">Women Denim Blue Bruten Shoes</p>
          <p><b>₹3995</b></p>
          <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
        </div>
      </div>
      <div class="card" id="f6" >
        <a href="#"><img src="../images/Screenshot 2023-07-31 203434.png" class="card-img-top" alt="..." id="f4"></a>
        <div class="card-body">
          <h5 class="card-title">Puma</h5>
          <p class="card-text">Women Purple Woven Design Sneakers</p>
          <p><b>₹3499</b></p>
          <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
        </div>
      </div><br>
      <div class="card" id="f6" >
        <a href="#"><img src="../images/Screenshot 2023-07-31 203532.png" class="card-img-top" alt="..." id="f4"></a>
        <div class="card-body">
          <h5 class="card-title">Puma</h5>
          <p class="card-text">Women Jako Slip-On Sneakers</p>
          <p><b>₹3985</b></p>
          <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
        </div>
      </div>
      <div class="card" id="f6" >
        <a href="#"><img src="../images/Screenshot 2023-07-31 204152.png" class="card-img-top" alt="..." id="f4"></a>
        <div class="card-body">
          <h5 class="card-title">Puma</h5>
          <p class="card-text">Punch Comfort Insole Basics Sneakers</p>
          <p><b>₹3299</b></p>
          <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
        </div>
      </div>
      <div class="card" id="f6" >
        <a href="#"><img src="../images/Screenshot 2023-07-31 204257.png" class="card-img-top" alt="..." id="f4"></a>
        <div class="card-body">
          <h5 class="card-title">Puma</h5>
          <p class="card-text">Unisex Mercede F1 Driving Shoes</p>
          <p><b>₹7992</b></p>
          <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
        </div>
      </div>
      <div class="card" id="f6" >
        <a href="#"><img src="../images/Screenshot 2023-07-31 204509.png" class="card-img-top" alt="..." id="f4"></a>
        <div class="card-body">
          <h5 class="card-title">Puma</h5>
          <p class="card-text">Women Anzarun Camo Textured Sneakers</p>
          <p><b>₹4499</b></p>
          <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
        </div>
      </div>
      </div>
      </div><br><br>
      <hr>
 <div class="container" id="f8">
  <div class="row" id="row1">
    <div class="col-md-3" id="foot"><b>Website Name</b><br><br>ShoeGalaxy <br>Love that shoes can add a little something special to an outfit, no matter what you're wearing</div>
    <div class="col-md-3 text-center" id="foot"><b>Products</b> <br><br>Sports Shoes <br>Sneakers <br> Formals <br> Boots <br> Mules <br>Casuals <br><br><br><br> </div>
    <div class="col-md-3 text-center" id="foot"><b>Useful Links</b> <br><br> Home <br> Cart <br> Orders <br>WishList<br> Help </div>
    <div class="col-md-3 text-center" id="foot"> <b>Support</b> <br><br> Assotech the Nest,Crossing Republik Ghaziabad <br> ShoeGalaxy@gmail.com</div>
 </div>
 </div>
    
</body>
</html>