<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>second</title>
    <link rel="stylesheet" href="/second.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="d1"><marquee><h6 class="had">Extra 5%-10% discount on every Online Payments,Free Return,Free delivery!!</h6></marquee></div>

    <div class="d2" >
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/layout/second.html"  id="navcol">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/layout/women1.html" id="navcol">Women</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/layout/mens.html" id="navcol">Men</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/layout/Kids.html" id="navcol">Kids and Teens</a>
              </li>
            </ul>
            <i class="fa fa-balance-scale" id="com"></i>
            <i class="fa fa-heart-o" id="iheart"></i>
             <i class="fa fa-shopping-cart" id="icart"></i>

            <form class="d-flex" role="search">
              <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          
        </div>
      </nav>
    </div>
  </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../images/Untitled design (2).jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../images/Our website has a wide variety of shoe models. Come and choose for yourself a suitable pair to wear anytime and anywhere..jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../images/Our website has a wide variety of shoe models. Come and choose for yourself a suitable pair to wear anytime and anywhere. (1).jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div><br><br><br>

    <div class="container">
    <div class="row">
    <div class="card" id="cd1">
      <img src="../images/WO.jpg" class="card-img-top" alt="..." id="imgid">
      <div class="card-body">
        <h5 class="card-title">Roadster <b>₹999</b></h5>
        <p class="card-text">Women Grey & White Colourblocked Lightweight Padded Contrast Sole Sneakers</p>
      </div>
    </div>
    <div class="card" id="cd1">
      <img src="../images/Screenshot 2023-07-29 190839.png" class="card-img-top" alt="..." id="imgid">
      <div class="card-body">
        <h5 class="card-title">Red Tape <b>₹1799</b></h5>
        <p class="card-text">Men Black Mesh Walking Shoes</p>
      </div>
    </div>
    <div class="card" id="cd1">
      <img src="../images/Screenshot 2023-07-29 184954.png" class="card-img-top" alt="..." id="imgid">
      <div class="card-body">
        <h5 class="card-title">Kids Ville <b>₹700</b>
        </h5>
        <p class="card-text">Boys Minions Printed Canvas Shoes.</p>
      </div>
    </div>
    <div class="card" id="cd1">
      <img src="../images/bootsss.jpg" class="card-img-top" alt="..." id="imgid">
      <div class="card-body">
        <h5 class="card-title">H&M <b>₹2699</b></h5>
        <p class="card-text">Women Chelsea Boots</p>
      </div>
    </div>
    </div>
  </div>
  <br>
  <br>

  <div class="container">
    <div class="row">
        <div class="col-md-6"><img src="../images/photoss.jpg" class="img-thumbnail" alt="..."></div>
        <div class="col-md-6"><img src="../images/photosssss.jpg" class="img-thumbnail" alt="..."></div>
</div>
</div>
<br>
<!-- <div>
  <img src="../images/shoe_banner5 copy.jpg" alt="" id="idimg">
</div>
<br> -->

 <div>
  <img src="../images/shoe_banner3 copy.jpg" alt="" id="idimg">
 </div><br><br>
 <center><h1>Top Deals</h1></center><br><br>
 <div class="container">
  <div class="row">
  <div class="card" id="cd1">
    <img src="../images/td1.jpg" class="card-img-top" alt="..." id="imgid">
    <div class="card-body">
      <h5 class="card-title">Puma</h5>
      <p class="card-text">Puma Unisex Adult Limnos High Risk Red-Monaco Blue</p><br><b>₹1308 </b> <del>₹2499 </del> 
    </div>
  </div>
  <div class="card" id="cd1">
    <img src="../images/td2.jpg" class="card-img-top" alt="..." id="imgid">
    <div class="card-body">
      <h5 class="card-title">Puma</h5>
      <p class="card-text">Women Cavase Sneakerss</p><br><br><b>₹1999</b><del>₹3999</del>
    </div>
  </div>
  <div class="card" id="cd1">
    <img src="../images/td3.jpg" class="card-img-top" alt="..." id="imgid">
    <div class="card-body">
      <h5 class="card-title">Mochi</h5>
      <p class="card-text">Men Tan Brown Driving Shoes</p><br><br><b>₹1950</b><del>₹3990</del>
    </div>
  </div>
  <div class="card" id="cd1">
    <img src="../images/td4.jpg" class="card-img-top" alt="..." id="imgid">
    <div class="card-body">
      <h5 class="card-title">Shoetopia</h5>
      <p class="card-text">Girls Colourblocked Lightweight Lace-Ups Sneakers</p><br><b>₹899</b><del>₹1599</del>
    </div>
  </div>
  </div><br><br>
  <div class="row">
    <div class="card" id="cd1">
      <img src="../images/td5.jpg" class="card-img-top" alt="..." id="imgid">
      <div class="card-body">
        <h5 class="card-title">Red Tape</h5>
        <p class="card-text">Kids White Mesh Walking Shoes</p><br><b>₹1033</b> <del>₹4699</del>
      </div>
    </div>
    <div class="card" id="cd1">
      <img src="../images/td6.jpg" class="card-img-top" alt="..." id="imgid">
      <div class="card-body">
        <h5 class="card-title">Solethreads</h5>
        <p class="card-text">Women Foam Sneakers</p><br> <b>₹1799</b> <del>₹2399</del>
      </div>
    </div>
    <div class="card" id="cd1">
      <img src="../images/td7.jpg" class="card-img-top" alt="..." id="imgid">
      <div class="card-body">
        <h5 class="card-title">
          Louis Philippe
        </h5>
        <p class="card-text">Men Leather Formal Brogues</p><br> <b>₹2749</b> <del>₹4999</del>
      </div>
    </div>
    <div class="card" id="cd1">
      <img src="../images/td8.jpg" class="card-img-top" alt="..." id="imgid">
      <div class="card-body">
        <h5 class="card-title">Sparx</h5>
        <p class="card-text">Women Mesh Running Shoes</p><br> <b>₹1077</b> <del>₹1099</del>
      </div>
    </div>
    </div>
</div>
<br>
<br>
 <div>
  <img src="../images/shoe_banner4 copy.jpg" alt="" id="idimage">
 </div><br><br><br><br>
<hr>
 <div class="container">
  <div class="row" id="row1">
    <div class="col-md-3" id="foot"><b>Website Name</b><br><br>ShoeGalaxy <br>Love that shoes can add a little something special to an outfit, no matter what you're wearing</div>
    <div class="col-md-3 text-center" id="foot"><b>Products</b> <br><br>Sports Shoes <br>Sneakers <br> Formals <br> Boots <br> Mules <br>Casuals <br><br><br><br> </div>
    <div class="col-md-3 text-center" id="foot"><b>Useful Links</b> <br><br> Home <br> Cart <br> Orders <br>WishList<br> Help </div>
    <div class="col-md-3 text-center" id="foot"> <b>Support</b> <br><br> Assotech the Nest,Crossing Republik Ghaziabad <br> ShoeGalaxy@gmail.com</div>
  </div>

 </div>
</body>
</html>