<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/women1.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="d2">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/layout/second.html" target="_blank"  id="navcol">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/layout/women1.html" target="_blank" id="navcol">Women</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/layout/mens.html" target="_blank" id="navcol">Men</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/layout/Kids.html" target="_blank" id="navcol">Kids and Teens</a>
              </li>
            </ul>
            <i class="fa fa-balance-scale" id="com"></i>
            <i class="fa fa-heart-o" id="iheart1"></i>
             <i class="fa fa-shopping-cart" id="icart1"></i>

            <form class="d-flex" role="search">
              <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          
        </div>
      </nav>
   </div>
  </div>
  
  <div class="container" id="f8">
    <div class="row" id="f1">

      <div class="col-md-2" id="f3" ><a href="/layout/sneakers copy.html" target="_blank"><img src="../images/shoes1 copy.jpg"  class="img-thumbnail" id="f2"></a><b>Sneakers</b></div>
      <div class="col-md-2" id="f3"><a href="/layout/boots copy.html" target="_blank"><img src="../images/shoes2 copy.jpg"  class="img-thumbnail" id="f2"></a><b>Boots</b></div>
      <div class="col-md-2" id="f3"><a href="/layout/sports copy.html" target="_blank"><img src="../images/shoes4.jpg"  class="img-thumbnail" id="f2"></a><b>Sports</b></div>
      <div class="col-md-2" id="f3"><a href="/layout/loafers.html" target="_blank"><img src="../images/Screenshot 2023-07-31 163818.png"  class="img-thumbnail" id="f2"></a><b>Loafers</b></div>
      <div class="col-md-2" id="f3"><a href="/layout/mules.html" target="_blank"><img src="../images/Screenshot 2023-07-29 231738.png"  class="img-thumbnail" id="f2"></a><b>Mules</b></div>
    </div>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div><br><br><br>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../images/Shoe_banner1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../images/Shoe_banner2 copy.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../images/WhatsApp Image 2023-07-29 at 18.43.39.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><br><br><br>
  <h1>EXPLORE TOP BRANDS</h1><br>
  <div class="container">
  <div class="row" id="f5">
  <div class="card" id="f6" >
    <a href="/layout/nike.html" target="_blank"><img src="../images/Screenshot 2023-07-29 185729.png" class="card-img-top" alt="..." id="f4"></a>
    <div class="card-body">
      <h5 class="card-title">Nike</h5>
      <p class="card-text">Women Legend Essential 2 Training Sports Shoes</p>
    </div>
  </div>
  <div class="card" id="f6"  >
    <a href="/layout/puma.html" target="_blank"><img src="../images/Screenshot 2023-07-29 190806.png" class="card-img-top" alt="..." id="f4"></a>
    <div class="card-body">
      <h5 class="card-title">Puma</h5>
      <p class="card-text">Women Black & Gold-Toned Rose Metallic Pop Sneakers</p>
    </div>
  </div>
  <div class="card" id="f6" >
    <a href="/layout/H&M.html" target="_blank"><img src="../images/Screenshot 2023-07-29 192427.png" class="card-img-top" alt="..." id="f4"></a>
    <div class="card-body">
      <h5 class="card-title">H&M</h5>
      <p class="card-text">Women Chunky Buckle-Detail Loafers</p>
    </div>
  </div>
  <div class="card" id="f6" >
    <a href="/layout/redtape.html" target="_blank"><img src="../images/Screenshot 2023-07-29 192654.png" class="card-img-top" alt="..." id="f4"></a>
    <div class="card-body">
      <h5 class="card-title">Red Tape</h5>
      <p class="card-text">Women White Mesh High-Top Walking Shoes</p>
    </div>
  </div>
  </div>
  </div><br><br>
  <h1>New Arrivals</h1><br><br>
  <div class="container">
    <div class="row" id="f5">
  <div class="card" id="f6" >
    <a href="#" target="_blank"><img src="../images/Screenshot 2023-07-29 233337.png" class="card-img-top" alt="..." id="f4"></a>
    <div class="card-body">
      <h5 class="card-title">HRX by Hrithik Roshan</h5>
      <p class="card-text">Women Pink Mesh Running Non-Marking Shoes</p>
      <p><b>₹3707</b></p> 
      <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart"></i>
    </div>
  </div>
  <div class="card" id="f6" >
    <a href="#" target="_blank"><img src="../images/Screenshot 2023-07-29 233531.png" class="card-img-top" alt="..." id="f4"></a>
    <div class="card-body">
      <h5 class="card-title">Adidas</h5>
      <p class="card-text">Women Woven Design RayRun Running Shoes</p>
      <p><b>₹2999</b></p>
      <button>Add to Compare</button>  <i class="fa fa-heart-o" id="iheart"> </i> <i class="fa fa-shopping-cart" id="icart"></i>
    </div>
  </div>
  <div class="card" id="f6" >
    <a href="#" target="_blank"><img src="../images/Screenshot 2023-07-29 233651.png" class="card-img-top" alt="..." id="f4"></a>
    <div class="card-body">
      <h5 class="card-title">Campus</h5>
      <p class="card-text">Women Black Mesh Running Shoes</p>
      <p><b>₹1099</b></p>
      <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
    </div>
  </div>
  <div class="card" id="f6" >
    <a href="#" target="_blank"><img src="../images/Screenshot 2023-07-29 233844.png" class="card-img-top" alt="..." id="f4"></a>
    <div class="card-body">
      <h5 class="card-title">Denill</h5>
      <p class="card-text">Women White Running Shoes</p>
      <p><b>₹2896</b></p>
      <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
    </div>
  </div><br>
  <div class="card" id="f6" >
    <a href="#" target="_blank"><img src="../images/Screenshot 2023-07-29 234015.png" class="card-img-top" alt="..." id="f4"></a>
    <div class="card-body">
      <h5 class="card-title">Red Tape</h5>
      <p class="card-text">Women Green Mesh Sports Shoes RLO1094-36-Green</p>
      <p><b>₹3999</b></p>
      <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
    </div>
  </div>
  <div class="card" id="f6" >
    <a href="#" target="_blank"><img src="../images/Screenshot 2023-07-29 234412.png" class="card-img-top" alt="..." id="f4"></a>
    <div class="card-body">
      <h5 class="card-title">Skechers</h5>
      <p class="card-text">Women Go Run Consistent Energize Running Shoes</p>
      <p><b>₹2749</b></p>
      <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
    </div>
  </div>
  <div class="card" id="f6" >
    <a href="#" target="_blank"><img src="../images/Screenshot 2023-07-29 234610.png" class="card-img-top" alt="..." id="f4"></a>
    <div class="card-body">
      <h5 class="card-title">Sparx</h5>
      <p class="card-text">Women Mesh Running Shoes</p>
      <p><b>₹999</b></p>
      <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
    </div>
  </div>
  <div class="card" id="f6" >
    <a href="#" target="_blank"><img src="../images/Screenshot 2023-07-29 234905.png" class="card-img-top" alt="..." id="f4"></a>
    <div class="card-body">
      <h5 class="card-title">Cultsport</h5>
      <p class="card-text">Women X1 Training Shoes</p>
      <p><b>₹2500</b></p>
      <button>Add to Compare</button> <i class="fa fa-heart-o" id="iheart"></i> <i class="fa fa-shopping-cart" id="icart"></i>
    </div>
  </div>
  </div>
  </div><br><br>
  <img src="../images/shoe_banner6 copy.jpg" class="image">
  


  <br><br><br><br>
<hr>
 <div class="container" id="f8">
  <div class="row" id="row1">
    <div class="col-md-3" id="foot"><b>Website Name</b><br><br>ShoeGalaxy <br>Love that shoes can add a little something special to an outfit, no matter what you're wearing</div>
    <div class="col-md-3 text-center" id="foot"><b>Products</b> <br><br>Sports Shoes <br>Sneakers <br> Formals <br> Boots <br> Mules <br>Casuals <br><br><br><br> </div>
    <div class="col-md-3 text-center" id="foot"><b>Useful Links</b> <br><br> Home <br> Cart <br> Orders <br>WishList<br> Help </div>
    <div class="col-md-3 text-center" id="foot"> <b>Support</b> <br><br> Assotech the Nest,Crossing Republik Ghaziabad <br> ShoeGalaxy@gmail.com</div>
 </div>
 </div>


  
</body>
</html>


  